@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

*,body{
    background-color: #008080;
    color: white;

}
table{

    background-color:white;
}
table a {
    background-color: white;
    text-decoration: none;
}
#searchCity{
    color: white;
    
    border: none;
    padding:4px;
    border-radius: 10px;
}
.container{
    display: flex;
    height:90vh;
    flex-direction: column;
    justify-content: start;
    margin-top: 30px;
   
}

.image{
   
    width:20%;
    align-self: center;
}
.image img{
    max-width: 100%;
    opacity: 0.6;
}

#search-by-country-checkbox{
    margin-right:0.6rem !important;
}
/*
result page html 

*/
.page-wrapper{
    padding:40px;
}


#cities-box{
    max-height:200px;
    padding:20px;
}